body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}

h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(83, 83, 83);
    line-height: .8;
}

a{
    text-decoration: none;
    background-image: linear-gradient(to right,orange,red);
    padding: 15px;
    border-radius: 35px;

    font-size: 25px;
    color: white;

    box-shadow: 0px 0px 10px  coral;
}

p{
    color: gray;
}


.full-width{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 3%;
}

.orange-color{
    color: orange;
}
.white-color{
    color: white;
}


/* 0 part css */
header{
    padding: 1%;
    background-color: rgba(11,13,23,255);
}
.header-item{
    width: 50%;
}
.header-item a{ 
    all: unset;
    text-decoration: none;
    color: white;
    cursor:pointer;
    
}
#header-link{
    display: block;
    text-align: right;
    margin-top: 3%;
}


/* 1st part */

#skip-diet{
    margin-left: 8%;
    margin-top: 12%;
}



/* 2nd part css */

#about-me{
    background-image: url('images/shapes/7.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#femaleImage img{
    display: block;
    width: 55%;
    margin-left: 30%;
    margin-bottom: -6.9%;
    max-width:100%;
    /* margin-top: 25%; */
    /* vertical-align: bottom; */
    
    
}

#about-me-text{
    margin-top: 8%;
}


/* 3rd part css */

.my-recipies{
    text-align: center;
}

/* 4th part css */

.one-third{
    width: 25%;
    margin: 3%;
    padding: 2%;
    box-shadow: 0px 0px 15px -5px ;
    border-radius: 20px;
}

.one-third img{
    width: 100%;
    border-radius: 20px;
}

#first-recipe-item {
    margin-left: 8%;
}

#trird-recipe-item {
    margin-right: 8%;
}

/* 5th part css */
.followers{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px -5px;
    margin: 5%;
    border-radius: 40px;
}
.followers-item{
    padding: 5%;
}
.followers-item h1{
    color: black;
}

/* 6th part css */

footer{
    background-color: rgba(11,13,23,255);
    padding: 3%;
    text-align: center;
}
footer p{
    color: white;
}